{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "components": "./src/components",
              "scenes": "./src/scenes",
              "services": "./src/services",
              "native-base-theme": "./native-base-theme"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver",
          {
            "alias": {
              "components": "./src/components",
              "scenes": "./src/scenes",
              "services": "./src/services",
              "native-base-theme": "./native-base-theme"
            }
          }
        ]
      ]
    }
  }
}
